<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}Генератор текста{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body>
{% block body %}
    <div class="chapter">
        <div class="chapter-top">
            <div class="chapter-top-title">
                <h4>Генератор историй</h4>
            </div>
            <button class="btn-top" style="background-color: rgba(255, 242, 242, 0.5)">-</button>
            <button class="btn-top">Х</button>
        </div>
    <div class="feedback-elem"  style="display: inline-flex;">
        <p>Имя:</p>
        <input id="customx" type="text" placeholder="">
        <p>Место:</p>
        <input id="customy" type="text" placeholder="">
        <p>Последствие:</p>
        <input id="customz" type="text" placeholder="">
    </div>
    <div class="feedback-elem" style="display: inline-flex;">
        <label for="us">US</label><input id="us" type="radio" name="ruus" value="us">
        <label for="ru">RU</label><input id="ru" type="radio" name="ruus" value="ru" checked>
    </div>
    <div class="feedback-elem">
        <button class="randomize">Сгенерировать историю</button>
    </div>
    <!-- Thanks a lot to Willy Aguirre for his help with the code for this assessment -->
    </div>

    <div class="feedback">
        <div class="chapter-top">
            <div class="chapter-top-title">
                <h4>
                    Новая история
                </h4>
            </div>
            <button class="btn-top" style="background-color: rgba(255, 242, 242, 0.5)">-</button>
            <button class="btn-top">Х</button>
        </div>
        <p class="story"> Появится здесь... </p>
    </div>

{% endblock %}
<script src="{{ asset('/js/training.js') }}"></script>
</body>
</html>